
#submenu-wrapper {
    position: absolute;
    right: 0;
    left: 0;
    display: block;
    z-index: 1;
    width: 400px;
    height: 130px;
    margin: 10em auto 0;
    padding: 10px 10px;
    background: rgba(33,37,37,0.9);
    font-family: "Pontano Sans";
    font-size: 13px;
    -webkit-border-bottom-right-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
    -moz-border-radius-bottomright: 10px;
    -moz-border-radius-bottomleft: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    box-shadow: 0px 2px 7px rgba(0,0,0,0.5);
    overflow: hidden;
}

.submenu {
    display: block;
    margin: 0 0 1.5em;
    padding: 0;
    list-style-type: none;
}

.submenu li {
    display: inline-block;
    width: 210px;
    vertical-align: top;
    text-align: center;
}

.submenu li img {
    display: block;
    margin: 0 auto 1em;
    width: 200px;
    border-radius: 5px;
    border: 0;
}

.submenu li a, .submenu li a:visited {
    color: #fff;
    text-decoration: none;
}

#title {
    display: block;
    margin-top: 4em;
    font-family: "Poiret One";
    font-size: 45px;
    color: #fff;
}

#title a, #title a:visited {
    font-size: 20px;
    text-decoration: none;
    color: #fff;
}


.main {
    width: 1000px;
    margin: 0 auto;
    position: relative;
}
.content {
    width: 900px;
    margin: 0 auto;
}
.conTitle {
    height: 62px;
    font: 20px/62px '微软雅黑',sans-serif;
    text-indent: 0px;
    color: #333;
    letter-spacing: .5px;
}
.step {
    width: 900px;
    margin: 0 auto;
    position: relative;
}
.featureTitle {
    font: 26px/26px '微软雅黑',sans-serif;
    color: #333;
    letter-spacing: .5px;
}
.featureIntro {
    padding-top: 20px;
    font: 18px/18px '微软雅黑',sans-serif;
    color: #606060;
    letter-spacing: .5px;
    line-height: 27px;
}
.step1 {
    height:246px;
    background:url(../images/1step1.png) no-repeat;
    _background:0;
    filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://im-img.qq.com/tm/2013/image/step1.png',sizingMethod='scale')
}
.step2 {
    height:246px;
    background:url(../images/1step2.png) no-repeat;
    _background:0;
    filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://im-img.qq.com/tm/2013/image/step2.png',sizingMethod='scale')
}
.step3 {
    height:246px;
    background:url(../images/1step3.png) no-repeat;
    _background:0;
    filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://im-img.qq.com/tm/2013/image/step3.png',sizingMethod='scale')
}
.step4 {
    height:236px;
    background:url('http://im-img.qq.com/tm/2013/image/step4.png') no-repeat;
    _background:0;
    filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://im-img.qq.com/tm/2013/image/step4.png',sizingMethod='scale')
}

.step {
    width: 900px;
    margin: 0 auto;
    position: relative;
}

.step21 {
    height:246px;
    background:url(../images/2step1.png) no-repeat;
    _background:0;
    filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://im-img.qq.com/tm/2013/image/step1.png',sizingMethod='scale')
}
.step22 {
    height:246px;
    background:url(../images/2step2.png) no-repeat;
    _background:0;
    filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://im-img.qq.com/tm/2013/image/step2.png',sizingMethod='scale')
}
.step23 {
    height:246px;
    background:url(../images/2step3.png) no-repeat;
    _background:0;
    filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://im-img.qq.com/tm/2013/image/step3.png',sizingMethod='scale')
}

.stepText {
    position:absolute;
    top:90px
}
.step1 .stepText {
    left:50px
}
.step2 .stepText {
    left:500px
}
.step3 .stepText {
    left:70px
}
.step4 .stepText {
    left:420px
}
.featureTitle {
    font:26px/26px '微软雅黑',sans-serif;
    color:#333;
    letter-spacing:.5px
}

.step21 .stepText {
    left:50px
}
.step22 .stepText {
    left:440px
}
.step23 .stepText {
    left:70px
}
.step24 .stepText {
    left:420px
}
.featureTitle {
    font:26px/26px '微软雅黑',sans-serif;
    color:#333;
    letter-spacing:.5px
}


.step41 {
    height:246px;
    background:url(../images/4step1.png) no-repeat;
    _background:0;
    filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://im-img.qq.com/tm/2013/image/step1.png',sizingMethod='scale')
}
.step42 {
    height:246px;
    background:url(../images/4step2.png) no-repeat;
    _background:0;
    filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://im-img.qq.com/tm/2013/image/step2.png',sizingMethod='scale')
}
.step43 {
    height:246px;
    background:url(../images/4step3.png) no-repeat;
    _background:0;
    filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://im-img.qq.com/tm/2013/image/step3.png',sizingMethod='scale')
}


.step41 .stepText {
    left:50px
}
.step42 .stepText {
    left:440px
}
.step43 .stepText {
    left:70px
}
.step44 .stepText {
    left:420px
}
.featureTitle {
    font:26px/26px '微软雅黑',sans-serif;
    color:#333;
    letter-spacing:.5px
}

.step31 {
    height:246px;
    background:url(../images/3step1.png) no-repeat;
    _background:0;
    filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://im-img.qq.com/tm/2013/image/step1.png',sizingMethod='scale')
}
.step32 {
    height:246px;
    background:url(../images/3step2.png) no-repeat;
    _background:0;
    filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://im-img.qq.com/tm/2013/image/step2.png',sizingMethod='scale')
}
.step33 {
    height:246px;
    background:url(../images/3step3.png) no-repeat;
    _background:0;
    filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://im-img.qq.com/tm/2013/image/step3.png',sizingMethod='scale')
}


.step31 .stepText {
    left:50px
}
.step32 .stepText {
    left:440px
}
.step33 .stepText {
    left:110px
}
.step34 .stepText {
    left:420px
}
