body{
	color: #fb5;
	/*background: #334;*/
}
a:link{
	color: #445;
	background: #eb6;
}
a:visited{
	color: #345;
	background: #eb6;
}
a:hover{
	color: #667;
	background: #fb5;
}
a:active{
	color: #778;
	background: #ec8;
}
header{
	color: #ec8;
	background: #789;
	border: #667;
}

header nav{
	color: #455;
	background: #789;
	border:#667;
}
article{
	color: #223;
	background: #edc;
	border: #667;
}
header nav ul{
	border:#99a;
}
header nav a.here:link,
header nav a.here:visited{
	color: #eef;
	background: transparent;
	border: #99a;
}
header nav a.here:hover{
	color: #445;
	background: #eb6;
}
header nav a.here:active{
	color: #667;
	background: #ec8;
}
article img{
	border:#ba9;
	outline: #dcb;
}























